
.jumbotron {
	/*background-image: url("../img/extra-large/color-study-no102-1376px.jpg");*/
	background-size: cover;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	background-repeat: no-repeat;
}

.jumbotron p{
	margin-bottom:15px;
	font-size:10px;
	font-weight:200
}
main {

}

body {
	font-size: 10px;
}

.container {
	width: auto;
	max-width: 680px;
	padding: 0 15px;
}

.navbar{
	border-radius:0px;
}



/* Set the fixed height of the footer here */
#footer {
	height: 30px;
	background-color: white;
	position: fixed;
	bottom: 0;
	width: 100%;
	/*clear: both;*/
	font-size: 10px;
	padding-top: 7px;
}

