.DS_Store
.idea
/vendor
.bower.json
/dist
.package.json
.bash_history
.bash_logout
.bash_profile
.bashrc
.contactemail
.dns
.ftpquota
.gemrc
.lastlogin
.zshrc
cpbackup-exclude.conf
.composer
.cpanel
.cphorde
.htpasswds
.softaculous
.ssh
.subversion
/etc
/logs
/public_ftp
/ssl
/tmp
/www
